@import "theme";
.boxWrapper {
  margin-bottom: 30px;
  // gap: 5px;
}

.letterBox {
  height: 62px;
  width: 62px;
  font-size: 3rem;
  text-align: center;
  background-color: $expdark;
  text-transform: uppercase;
  margin: 2px;
  border-radius: 5px;
}

.letterBox:focus {
  outline: none;
}
