@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import "theme";

.navbarWrapper {
  position: fixed;
  background-color: #563d43;
  width: 100%;
  display: flex;
  font-family: Raleway;
  border-bottom: 2px solid $expyellow;
}

.navbarEmblem {
  padding: 5px;
  margin-left: 15px;
}

.title {
  padding: 0 20px;
  font-size: 2.5rem;
}
